@font-face {
  font-family: reckless;
  src: url(./RecklessCondensedS-TRIAL-Regular.otf);
}
@font-face {
  font-family: figtree;
  src: url(./Figtree-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main
{
  width: 100%;
  min-height: 100vh;
  background-color: #fbf9eb;
}

nav
{
  padding: 0.8rem 5vw;
  font-family: reckless;
  width: 100%;
  background-color: #fffefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1vw;
  font-size:0.8rem;
  position: sticky;
  z-index: 999;
}
nav .nav-part-1
{
  display: flex;
  gap:1rem;
  
  font-weight: 300;
  width: 33%;
  display: none;
}
nav i
{
  font-size:2rem; 
  width: 33%;
}
nav .nav-part-1 h3
{
  font-weight: 300;
}
nav .nav-part-2
{
  height: auto;
  display: flex;
}
nav .nav-part-2 img
{
  width: 100%;
  object-fit: cover;
}
nav .nav-part-3
{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 33%;
  gap: 2rem;
 
}
nav .nav-part-3 h3
{
  font-weight: 300;
  display: none;
}
nav .nav-part-3 img
{
  width:20%;
}
.one
{
  width: 100%;
  min-height: 80vh;
  background:url(./AlpineBerry.webp_v=1774284236&width=3200.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: start;
  padding: 3rem;
  gap: 1rem;
  text-align: center;
}
.main-text
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.one h1
{
  display: flex;
  font-family: reckless;
  font-size: 4rem;
  color: white;
  font-weight: 300;
  text-align: center;
}
.one p
{
  font-family: figtree;
  color: #fff;
  font-weight: 600;
}
.one button
{
  width: 100%;
  padding: 1rem 3rem;
  border: none;
  color: #fff;
  background-color:#2a2857; 
  font-family: figtree;
  border-radius: 2rem;
}
.two
{
  padding: 0 1rem;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.two .info
{
  padding:3rem;
  padding-top: 15vw;
  font-size: 2rem;
  font-family: reckless;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20vw;
}
.two .slider-controls button
{
  position: absolute;
  height: 2.5rem;
  width:2.5rem;
  font-size: 2rem;
  font-weight: 100;
  border: 1px solid black;
  border-radius: 100%;
}

.two .left-scroll
{
  top:50%;
  z-index: 1;
}
.two .right-scroll
{
   top:50%;
  z-index: 1;
  right:5%; 
}
.two .best-sellers
{
  
  background-color: #E0B6F2;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
}
.two .cards
{
  padding: 1rem;
  width: 100%;
  min-height: 80vw;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.4s ease;
}
.two .cards .card
{ 
  flex-shrink: 0;
  width:350px;
  height:539px;
}
.two .cards .card .image
{
  height: 400px;
  width: 100%;
  position: relative; 
  padding: 2rem;
  border-radius: 10px;
}
.cards .card:nth-child(1) .image { background: #C1EE91; }
.cards .card:nth-child(2) .image { background: #FFD884; }
.cards .card:nth-child(3) .image { background: #B0E8C1; }
.cards .card:nth-child(4) .image { background: #AEE0F9; }
.cards .card:nth-child(5) .image { background: #ABDF74; }
.cards .card:nth-child(6) .image { background: #FFCB96; }
.cards .card:nth-child(7) .image { background: #FFDAB3; }
.cards .card:nth-child(8) .image { background: #AEE0F9; }
.cards .card:nth-child(9) .image { background: #B6F2D1; }
.two .cards .card img
{
  object-fit: cover;
  width: 300px;
}
.two .cards .card button
{
  font-weight: bold;
  font-family: figtree;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: fit-content;
    padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start; 
}
.two .cards .card .card-info
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: figtree;  
}
.two .cards .card h5
{
  font-size: 1.5rem;
  font-family: reckless;
  font-weight: 100;
  padding-top:10px;
  padding-bottom: 15px;
}
.two .cards .card p
{
  font-family: figtree;
  padding-bottom: 5px;
}
.two .cards .card .add
{
  font-family: figtree;
  font-weight: 500;
  padding: 0.6rem;
  border-radius:10px;
  position: absolute;
  right: 5%;
  top: 80%;
}
.two .btn
{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.two .explore
{
 background-color: #2a2857; 
 color: #fff;
 border-radius: 30px;
 padding: 1rem 4rem;
 font-size: 1.1rem;
}
.line-parent
{
  padding-top: 60px;
}
.line
{
  height: 2px;
  width: 100%;
  background-color: #000;
}
.three
{
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
}  
.discover{
  background-color: #FF7F31;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
}
.three p
{
  font-family: reckless;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  
} 
input::placeholder
{
  font-size: 2rem;
  font-family: reckless;
  width: 100%;

}
input
{
  height: 5rem;
  width: 100%;
  border: none;
  border-radius: 15px;
  padding-left: 40px;
  border:1px solid gray;
  background: transparent;
}
.three .small-text
{
  font-family: figtree;
  font-size: 1rem;
  font-weight: 100;
  
}
.three .texts 
{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.three .texts button
{
  font-family: reckless;
  font-size: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #AEE0F9;
}
.four
{
  width: 100%;
  min-height: 100vh;
  background: url(./adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp_v=1771592855&width=2560.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 10vh 3rem;
  align-items: center;
  gap: 30vw;
}
.four .origin
{
  background-color: #AEE0F9;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
}
.four h1
{
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  font-family: figtree;
  text-align: center;
}
.four p
{
  font-family: reckless;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
}
.four .four-features
{
  width: 100%;
  min-height: 40vw;
  display: flex;
}
.four .four-features img{
  height:90px;
  width:90px;
  object-fit: cover;
}

.four .four-features p
{
  font-weight: 600;
  font-family: figtree;
  font-size: 1rem;
  text-align: center;
}
.four-info
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.four button
{
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
}
.five
{
  width:100%;
  min-height: 200px;
  padding:15vw 10vw 15vw 10vw;
  position: relative;
  overflow: hidden;
}
.review
{
  background-color: #ABDF74;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;

}
.five h1
{
  font-family: reckless;
  font-size: 4rem;
  font-weight: 400;
  padding-top: 1rem;
}
.decks
{
  padding-top: 10vw;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  /* overflow: hidden; */
  transition: transform 0.4s ease;
}
.five .scroll-bar button
{
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid black;
  z-index: 10;
}
.five h1
{
  display: none;
}
.five .lscroll
{
  top: 55%;
}
.rscroll
{
top: 55%;
right: 0;
}
  .deck
  {
    width:100%;
    height:400px;
    background-color: #AEE0F9;
    border-radius: 20px;
    padding: 60px 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-shrink: 0;
  }
  .deck:nth-child(1)
  {
    background-color: #F5AF8A;
  }
  .deck:nth-child(2)
  {
    background-color: #ADE674;
  }
  .deck:nth-child(3)
  {
    background-color: #FFD265;
  }
  .deck:nth-child(4)
  {
    background-color: #ABDF74;
  }
  .deck:nth-child(5)
  {
    background-color: #DAAEEA;
  }
.decks .deck:nth-child(1) .deck-info
{
background-color: #EA6D44;
}
.decks .deck:nth-child(2) .deck-info
{
background-color: #6AC337;
}
.decks .deck:nth-child(3) .deck-info
{
background-color: #FFB500;
}
.decks .deck:nth-child(4) .deck-info
{
background-color: #8BC045;
}
.decks .deck:nth-child(5) .deck-info
{
background-color: #C790DB;
}


  .deck .sm-text
  {
    font-size: 1rem;
    font-family: figtree;
    color: gray;
    padding-top: 1rem;
  }
  .deck-info{
    display: flex;
    align-items: center;
    /* background-color: crimson; */
    border: 1px solid black; 
    border-radius: 20px;
    min-height:100px;
    padding: 1rem;
  }

  .deck-info img
  {
    width: 100px;
  }
.five .decks .deck p
{
  font-size:1.5rem;
}
.five h5
{
  text-align: center;
  font-size: 2rem;
}
.five .deck .deck-info .lg-text
{
  
  font-size: 1rem;
  font-family: figtree;
  font-weight: 800;
  padding-right: 1rem;
  color: #fff;
  padding-left: 5px;
}
.five .deck .deck-info button
{
padding: 1rem ;
border-radius: 25px;
border: 1px solid black;
}
.seperate{
  height: 100px;
  width: 1px;
  background-color: #000;
}
  .deck p
  {
    text-align: center;
    font-family: reckless;
    font-size: 2rem;
  }
  .small-text{
    font-size:0.1rem;
  }
  .six
  {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    
  }
    .six img
    {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
  .six .box1
  {
    min-height: 400px;
    background-color: #2a2857;
    display: flex;
    flex-direction: column;
    padding: 2rem ;
    align-items: center;
    color: #fff;
    gap: 5rem;
  }
    .six .box1 h1
    {
      font-size: 3rem;
      font-weight: 400;
      font-family: reckless;
      text-align: center;
    }
        .six .box1 p
        {
          font-size: 1.5rem;
          font-family:figtree ;
          text-align: center;
        }
        .six .box1 button
        {
          font-size: 1.5rem;
          width: 100%;
          padding: 1rem 0;
          border-radius: 50px;
        }
        .boxes 
        {
          position: relative;
        }
        .boxes .sbtn .ls
        {
          position: absolute;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          font-size: 2rem;
        }
                .boxes .sbtn .rs
        {
          position: absolute;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          font-size: 2rem;
        }
        .boxes .sbtn .ls{
          top: 65%;
          left: 2%;
          z-index: 9;
        }
        .boxes .sbtn .rs{
          top: 65%;
          right: 2%;
          z-index: 9;
        }
        .box-slider
        {
          display: flex;
          width: 100%;
          /* overflow: hidden; */
        }
        .box2,.box3,.box4,.box5{
          flex-shrink: 0;
          width: 100%;
        }
.six .box2
{
width: 100%;
min-height: 100vh;
background-color: #9F6429;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box2 .our
{
  background-color: #FFDAB3;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box2 h1
  {
    text-align: center;
  }
  .six .box2 p
  {
    padding-bottom: 20vh;
  }
  .six .box2 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFCB96;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box2 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box2 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box2 .subbox .nice
      {
        position: relative;
  background-color: #F09F54;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box2 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box2 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box2 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
.six .box3
{
width: 100%;
min-height: 100vh;
background-color: #4A6808;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box3 .our
{
  background-color: #C0E571;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box3 h1
  {
    text-align: center;
  }
  .six .box3 p
  {
    padding-bottom: 20vh;
  }
  .six .box3 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#C0E571;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box3 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box3 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box3 .subbox .nice
      {
  background-color: #6AC337;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box3 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box3 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box3 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
      .six .box4
{
width: 100%;
min-height: 100vh;
background-color: #986300;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box4 .our
{
  background-color: #FFD265;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box4 h1
  {
    text-align: center;
  }
  .six .box4 p
  {
    padding-bottom: 20vh;
  }
  .six .box4 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFD265;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box4 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box4 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box4 .subbox .nice
      {
  background-color: #FFB500;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box4 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box4 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box4 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
      .six .box5
{
width: 100%;
min-height: 100vh;
background-color: #E8AA63;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box5 .our
{
  background-color: #FFDAB3;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box5 h1
  {
    text-align: center;
  }
  .six .box5 p
  {
    padding-bottom: 20vh;
  }
  .six .box5 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFDAB3;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box5 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box5 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box5 .subbox .nice
      {
  background-color: #E8AA63;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box5 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box5 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box5 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
      .seven
      {
        width: 100%;
        height: 100vh;
        padding: 7vh 4vw;
      }
      .seven button
      {
  background-color: #FFB500;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .seven h3
      {
        padding-top: 2rem;
        font-family: reckless;
        font-weight: 400;
        font-size: 2rem;
        padding-bottom: 30px;
      }
      .seven .pages
      {
        display: flex;
        justify-content: start;
        width: 100%;
        min-height: 380px;
        background-color: lightblue;
      }
      .seven .page
      {
        background-color: crimson;
        height: 100%;
        width: 95%;
      }
@media (min-width:768px) {

}
@media (min-width:1024px) {
  .main-text{
    align-items: flex-start;
  }
  .one h1
  {
    width: 25%;
  }
    .one p
    {
      width: 34%;
    }
  .one button
{
  width: fit-content;
}
  nav .nav-part-1
{
  display: flex;
  gap:1rem; 
  font-weight: 300;
  width: 30%;
} 

nav i
{
  display: none;
}

nav .nav-part-1 h3
{
  font-size: 1.5rem;
  font-weight: 300;
}
nav
{
  padding: 0.5rem 1vw;
  font-family: reckless;
  width: 100%;
  background-color: #fffefb;
  display: flex;

  border-radius: 1vw;
  font-size:0.8rem;
  position: sticky;
  z-index: 999;
}
nav .nav-part-2
{
  width: 5%;
  display: flex;
}
.nav-part-3{
  display: flex;
  gap: 1rem;
  justify-content: end;
  align-items: end;
}
nav .nav-part-3 h3
{
  font-weight: 300;
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
}
.two
{
  padding:   1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.two .info 
{
  font-size: 4rem;
  width: 60%;
  padding-top:5rem ;
  padding-bottom:8rem ;
}
.two .cards
{
  padding-top: 1rem;
}
.two .cards
{
  padding: 1rem;
  width: 100%;
  min-height: 40vw;
}
.two .left-scroll
{
  top:60%;
  z-index: 1;
  left: 1%;
}
.two .right-scroll
{
   top:60%;
  z-index: 1;
  right:1%; 
}
.three
{
  padding: 0 20vw;
}
 .three p
{
  font-family: reckless;
  font-size: 4rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}  
 .three br
 {
  display: none;
 }
 .three .input::placeholder
 {
  background:transparent
 }
 .three .small-text{
  padding-top: 100px;
 }
 .three .texts button
{
  font-family: reckless;
  font-size: 1.5rem;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #AEE0F9;
}
input
{
  font-size: 2rem;
  font-family: reckless;
  width: 50%;
}
.four
{
  width: 100%;
  min-height: 800px;
  background: url(./adam-vradenburg-_gu7E90QChU-unsplash_1_1.webp_v=1771592855&width=2560.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 10vw 10vw 5vw 10vw; 
  align-items: center;
  gap: 10rem;
}
.four h1
{
  color: #fff;
  font-size: 9rem;
  font-weight: 900;
  font-family: figtree;
  text-align: center;
}
.four p
{
  font-family: reckless;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
}
.four .four-features
{
  width: 65%;
  min-height: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.a
{
  display: none;
}
.four button
{
  width: fit-content;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
}
.five
{
  width:100%;
  min-height: 200px;
  padding:15vw 10vw 5vw 10vw;
  position: relative;
  overflow: hidden;
}
.decks
{
  padding-top: 10vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  /* overflow: hidden; */
  transition: transform 0.4s ease;
}
  .deck
  {
    width:290px;
    height:400px;
    background-color: #AEE0F9;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    padding-bottom: 10px;
  }
  .deck-info{
    height: 100px;
    display: flex;
    align-items: center;
    /* background-color: crimson; */
    border: 1px solid black; 
    border-radius: 20px;
    min-height:100px; 
  }
    .deck-info img
  {
    width: 50px;
  }
.five .decks .deck p
{
  font-size:1.5rem;
}
.five .scroll-bar button
{
  display: none;
}

.six
  {
    width: 100%;
    min-height: 100vh;
    
  }
      .six .image
    {
      min-height: 100vh;
      width: 100%;
    }
  .six .cafe
{
  display: flex;
}
    .six img
    {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  .six .box1
  {
    min-height: 100vh;
    width: 100%;
    background-color: #2a2857;
    display: flex;
    padding: 8rem 0 ;
    align-items: center;
    color: #fff;
    gap: 5rem;
  }
    .six .box1 h1
    {
      font-size: 5rem;
      font-weight: 400;
      font-family: reckless;
      text-align: start;
      width: 80%;
    }
        .six .box1 p
        {
          font-size: 1.5rem;
          font-family:figtree ;
          text-align: start;
          width: 80%;
        }
        .six .box1
        {
          display: flex;
          justify-content: center;
          position: relative;
        }
        .six .box1 button
        {
          font-size: 1.5rem;
          width: 20%;
          padding: 1rem 0;
          border-radius: 50px;
          position: absolute;
          left: 10%;
          bottom: 15%;
        }
        .six .box2
{
width: 100%;
min-height: 100vh;
background-color: #9F6429;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box2 .our
{
  background-color: #FFDAB3;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box2 h1
  {
    text-align: center;
  }
  .six .box2 p
  {
    padding-bottom: 20vh;
  }
  .six .box2 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFCB96;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box2 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box2 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box2 .subbox .nice
      {
        position: relative;
  background-color: #F09F54;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box2 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box2 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box2 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
.six .box3
{
width: 100%;
min-height: 100vh;
background-color: #4A6808;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box3 .our
{
  background-color: #C0E571;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box3 h1
  {
    text-align: center;
  }
  .six .box3 p
  {
    padding-bottom: 20vh;
  }
  .six .box3 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#C0E571;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box3 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: 1%;
      left: 5%;
    }
    .six .box3 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box3 .subbox .nice
      {
  background-color: #6AC337;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box3 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box3 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box3 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
      .six .box4
{
width: 100%;
min-height: 100vh;
background-color: #986300;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box4 .our
{
  background-color: #FFD265;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box4 h1
  {
    text-align: center;
  }
  .six .box4 p
  {
    padding-bottom: 20vh;
  }
  .six .box4 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFD265;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box4 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box4 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box4 .subbox .nice
      {
  background-color: #FFB500;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box4 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box4 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box4 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }
      .six .box5
{
width: 100%;
min-height: 100vh;
background-color: #E8AA63;
display: flex;
flex-direction: column;
gap: 1.5rem;
align-items: center;
font-family: figtree;
padding-top: 8rem;
color: #fff;
padding: 8rem 1rem 1.5rem 1rem;
}
.six .box5 .our
{
  background-color: #FFDAB3;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
  }
  .six .box5 h1
  {
    text-align: center;
  }
  .six .box5 p
  {
    padding-bottom: 20vh;
  }
  .six .box5 .subbox
  {
    position: relative;
    color: #000;
    width: 90%;
    min-height: 300px;
    background-color:#FFDAB3;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

    .six .box5 .subbox img
    {
      position: absolute;
      width: 400px;
      object-fit: contain;
      top: -30%;
      left: -35%;
    }
    .six .box5 .subbox .n
    {
      padding-top: 25vh;
    }
      .six .box5 .subbox .nice
      {
  background-color: #E8AA63;
  font-family: figtree;
  font-size: 2.2rem;
  width: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transform: rotate(-2.5deg);
  border:1px solid black;
      }
      .six .box5 .subbox h3
      {
        font-family: reckless;
        font-size: 3rem;
        font-weight: 400;
        text-align: center;
      }
      .six .box5 .subbox p
      {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 1rem;
      }
      .six .box5 .shop
      {
        padding: 1rem 6rem;
        border-radius: 25px;
        border: none;
        font-size: 1rem;
      }

}
